/* Media Queries */
@media screen and (max-width: 1201px) {
    .edu-yellow span {
        padding: 0px 5px;
    }

    .organ-yellow span {
        padding: 15px 5px;
    }
}

@media screen and (max-width: 995px) {
    #organ-exp {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .edu-box {
        margin-top: -20px;
        margin-bottom: 70px;
    }
    
    .edu-col {
        margin-bottom: 10px;
    }

    .edu-yellow span {
        padding: 40px 5px;
    }

    .organ-box {
        margin-top: 0px;
        margin-bottom: -15px;
    }

    .organ-col {
        margin-bottom: 20px;
    }

    .organ-yellow span {
        padding: 22px 5px;
    }

    .organ-col.staff {
        margin-bottom: 60px;
    }
}

@media screen and (max-width:770px) {
    .profile_photo {
        width: 100%;
    }

    .quote {
        width: 100%;
    }

    .quote h3 {
        font-size: 2em;
    }

    .portfolio h3 {
        width: 70%;
    }

    .portfolio h2 {
        margin-bottom: 10px;
    }
    
    .edu-col {
        margin-bottom: 10px;
    }

    .edu-black.karisma span {
        padding: 20px 5px;
    }

    .edu-yellow span {
        padding: 40px 5px;
    }

    .organ-box {
        margin-bottom: 30px;
    }
}

@media screen and (max-width:768px) {
    .quote {
        margin-top: 3% !important;
    }

    .identity {
        font-size: 1.5em;
    }
}

@media screen and (max-width:735px) {
    .banner_info a {
        margin: 2%;
    }
}

@media screen and (max-width:595px) {
    .banner_info span {
        display: none;
    }

    .banner_info a {
        margin: 2% 1%;
    }

    .edu-col {
        margin-bottom: 10px;
    }
    
    .edu-yellow span {
        padding: 30px 5px;
    }

    #organ-exp {
        margin-top: -15px;
    }

    .organ-box {
        margin-bottom: 10px;
    }

    .organ-col {
        margin-bottom: 20px;
    }

    .organ-yellow span {
        padding: 35px 5px;
    }

    footer .btn {
        font-size: 1.3em;
    }

    footer .btn:hover {
        font-size: 1.5em;
    }
}

@media screen and (max-width:545px) {
    body {
        font-size: 9px;
    }

    .banner_info h3 {
        font-size: 2em;
    }

    .profile_photo img {
        width: 200px;
        height: 200px;
    }

    .quote h3 {
        font-size: 1.5em;
    }
        
    .edu-black.karisma span {
        font-size: 1.3em;
        padding: 25px 5px;
    }

    .edu-yellow span {
        font-size: 1.3em;
        padding: 12px 5px;
    }

    .edu-black.sma span {
        font-size: 1.3em;
    }

    .organ-black span {
        padding: 40px 5px;
    }
}

@media screen and (max-width:468px) {
    .edu-black.karisma span {
        padding: 15px 5px;
    }

    .edu-yellow span {
        padding: 0px 5px;
    }

    .organ-yellow span {
        padding: 10px 5px;
    }

    footer .btn {
        font-size: 1em;
    }

    footer .btn:hover {
        font-size: 1.1em;
    }

    .portfolio h3 {
        width: 80%;
        text-align: center;
    }

    .portfolio h2 {
        margin-bottom: 15px;
    }
}